@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lilita One", sans-serif;
}
body {
    background-image: url(../img/haikyubg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    z-index: 1;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    position: relative;
    font-size: 25px;
    font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
    color: #000000;
    text-decoration: none;
    padding: 10px 50px;
    transition: color 0.5s;
}

nav ul li a:hover {
    color: rgb(0, 0, 0);
}

nav ul li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(65, 45, 4);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.5s;
}

nav ul li a:hover::before {
    visibility: visible;
    transform: scaleX(1);
} 
.container {
    display: flex;
    place-items: center;
    margin-inline: 1.5rem;
    padding-right: 5px;
  }
  
  .card__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap
  }
  
  .card__article {
    position: relative;
    overflow: hidden;
  }
  
  .card__img {
    width: 328px;
    border-radius: 1.5rem;
  }
  
  .card__data {
    width: 250px;
    background-color:burlywood;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 1s 1s;
  }
  
  .card__description {
    display: block;
    font-size: 10px;
    margin-bottom: .25rem;
  }
  
  .card__title {
    font-size: 30px;
    font-weight: 80;
    color: var(--title-color);
    margin-bottom: .75rem;
  }
  
  .card__button {
    text-decoration: none;
    font-size: var(--small-font-size);
    font-weight: 100;
    color: var(--first-color);
    background-color: aliceblue;
  }
  
  .card__button:hover {
    text-decoration: underline;
  }
  

  .card__article:hover .card__data {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
  }
  
  .card__article:hover {
    animation: remove-overflow 2s forwards;
  }
  
  .card__article:not(:hover) {
    animation: show-overflow 2s forwards;
  }
  
  .card__article:not(:hover) .card__data {
    animation: remove-data 1s forwards;
  }
  

  @keyframes show-data {
    50% {
      transform: translateY(-10rem);
    }
    100% {
      transform: translateY(-7rem);
    }
  }
  
  @keyframes remove-overflow {
    to {
      overflow: initial;
    }
  }
  
  @keyframes remove-data {
    0% {
      transform: translateY(-7rem);
    }
    50% {
      transform: translateY(-10rem);
    }
    100% {
      transform: translateY(.5rem);
    }
  }
  
  @keyframes show-overflow {
    0% {
      overflow: initial;
      pointer-events: none;
    }
    50% {
      overflow: hidden;
    }
  }
  

  @media screen and (max-width: 340px) {
    .container {
      margin-inline: 1rem;
    }
  
    .card__data {
      width: 250px;
      padding: 1rem;
    }
  }
  

  @media screen and (min-width: 768px) {
    .card__container {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1.5rem;
    }
  }
  

  @media screen and (min-width: 1120px) {
    .container {
      height: 100vh;
    }
  
    .card__container {
      grid-template-columns: repeat(3, 1fr);
    }
    .card__img {
      width: 348px;
    }
    .card__data {
      width: 316px;
      padding-inline: 2.5rem;
    }
  }